doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    
  body
    block content

    if user_id
      li.nav-item
        a.mr-2(href="/user/logout") Logout
    else
      li.nav-item
        a.mr-2(href="/user/login") Login
      li.nav-item
        a.mr-2(href="/user/register") Register

